.card{
  background: url("/images/bg.png") no-repeat bottom left;
  background-color: $color-gray;
  background-size: contain;
  min-height: 320px;
  height: auto;
  font-size: 12px;
  h1, h3, h6{
    margin: 0;
  }
  h1{
    font-size: 2.6em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    span{
      position: relative;
      display: inline-block;
      &:after,
      &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 10px;
        left: 0;
        transform: scaleY(-1);
        transform-origin: bottom;
      }
      &:after {
        content: attr(data-content);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.2) 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    span:first-child{
      background: linear-gradient($color-red-light, $color-red, $color-black);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:after {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(214, 37, 43, 0.2) 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  h3{
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 15px;
  }
  h6{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
  }
  &__content{
    padding: 30px 30px 60px;
    height: 100%;
  }
  &__intro{

  }
  &__detail{
    border-left: 2px solid $color-black;
    @include respond-to(mobile){
      border-left: none;
      border-top: 1px solid $color-black;
      margin-top: 20px;
      padding-top: 20px;
    }
    div{
      font-size: 1.2em;
    }
  }
}
