@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $screen-xs-max) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $screen-xs-max + 1) and (max-width: $screen-md-max) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $screen-md-max + 1) { @content; }
  }
}
