// --- override icon-font-path value of bootstrap -----------------------------------------------------
$icon-font-path: '/fonts/';

// --- colors -----------------------------------------------------
$color-gray: #c7c7c7;
$color-black: #000000;
$color-red: #c02126;
$color-red-light: #d6252b;
